*.DS_Store
.mc-lists.el
auto-save-list/*
bak/*
bookmarks
bak.el
play.el
elpa/*
eshell/*
eln-cache/
games/*
ido.last
smex-items
url/*
recentf
playground.exs
transient/
tree-sitter/
dired-history
flycheck_init.el
tramp
projects
